@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
    background-color: black;
    background: linear-gradient(#5C5C5C, #FF709B);
    overflow: hidden;
}

.main{

    margin-left: 22.5%;
    width: 55%;
    height: 100vh;
    gap:3%;

    display: grid;

    
    grid-template-columns: 0.3fr 1.5fr 2fr 1.5fr 0.3fr;
    grid-template-rows: 0.3fr 1.5fr 2fr 1.5fr 0.3fr;
    grid-template-areas:
    ". . . . ."
    ". m . c ."
    ". . l . ."
    ". s . f ."
    ". . . . .";
}

.main > div{
    
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.options{
    transform: scale(1,1);
    transition-duration: 0.7s;
}

.options:hover{
    transform: scale(1.3,1.3);
    animation: shake 1s;
    animation-iteration-count: infinite;
    
}

.logoBlob{grid-area:l; background-color: #7FC8F8; opacity: 70%; }





#musikkBlob{grid-area:m;}
#settingsBlob{grid-area:s;}
#cateringBlob{grid-area:c;}
#foundersBlob{grid-area:f;}


img{
    mix-blend-mode:multiply;
    width: 70%;
}

#mainName{
    
    
    position: absolute;
    width: 100%;
    height: 30vh;
    left: 0;
    
    top: 35%;
    font-size:5vw;
    transition-duration: 1s;

    display: flex;
    justify-content: center;
    align-items: center;

    
    
}
#mainName > h1{ z-index: -1; transform: scale(0,1); transition-duration: 0.3s;}
#mainName:hover > h1{
    
    animation-iteration-count: infinite;
    transform: scale(1,1);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg) scale(1.05,1.05); }
    10% { transform: translate(-1px, -2px) rotate(-1deg) scale(1.11,1.11); }
    20% { transform: translate(-1px, 0px) rotate(1deg) scale(1.18,1.18); }
    30% { transform: translate(1px, 2px) rotate(0deg) scale(1.22,1.22); }
    40% { transform: translate(1px, -1px) rotate(1deg) scale(1.27,1.27); }
    50% { transform: translate(-1px, 2px) rotate(-1deg) scale(1.3,1.3); }
    60% { transform: translate(-1px, 1px) rotate(0deg) scale(1.27,1.27); }
    70% { transform: translate(1px, 1px) rotate(-1deg) scale(1.22,1.22); }
    80% { transform: translate(-1px, -1px) rotate(1deg) scale(1.18,1.18); }
    90% { transform: translate(1px, 2px) rotate(0deg) scale(1.11,1.11); }
    100% { transform: translate(1px, -2px) rotate(-1deg) scale(1.05,1.05); }
  }

marquee{
    position: absolute;
    top:-25%;
    left: -10%;
    width: 120%;
    height: 130vh;
    user-select: none;
    
}

marquee>img{
    
    animation: spin 50s;
    animation-iteration-count: infinite;}

#jakob{ 
    width: 8%;
}
@keyframes spin{

    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}


.icon{
    position: absolute;
    width: 30%;
}


#settingsBlob>h3{opacity: 0%;position: absolute;transition-duration: 0.3s;}
#settingsBlob:hover > h3{opacity: 100%;}
#settingsBlob:hover > img{opacity: 0%;}
#settingsBlob >img{opacity: 100%;transition-duration: 0.3s;}

#musikkBlob>h3{opacity: 0%;position: absolute;transition-duration: 0.3s;}
#musikkBlob:hover > h3{opacity: 100%;}
#musikkBlob:hover > img{opacity: 0%;}
#musikkBlob >img{opacity: 100%;transition-duration: 0.3s;}

#cateringBlob>h3{opacity: 0%;position: absolute;transition-duration: 0.3s;}
#cateringBlob:hover > h3{opacity: 100%;}
#cateringBlob:hover > img{opacity: 0%;}
#cateringBlob >img{opacity: 100%;transition-duration: 0.3s;}

#foundersBlob>h3{opacity: 0%;position: absolute;transition-duration: 0.3s;}
#foundersBlob:hover > h3{opacity: 100%;}
#foundersBlob:hover > img{opacity: 0%;}
#foundersBlob >img{opacity: 100%;transition-duration: 0.3s;}

#title{
    font-size: 2vw;
    position: absolute;
    top: 7.5%;
    width: 100%;
    text-align: center;
}

#clock{
    font-size: 2vw;
    position: absolute;
    bottom: 7.5%;
    width: 100%;
    text-align: center;
}

.iconLink{
    position: absolute;
    width: 100%;
    height: 100%;
}